@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';


@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/foundation-icons';


body {
    background: $white;
}



.separator {
   
    margin: 0 $global-margin;

    &.border {
        border-left: 1px solid rgba($white, 1);
    }
}

.main {
    
    li {
        border-bottom: 1px solid $dark-gray;
    }
    a {
        color: $white;
        font-size: 1rem;
    }
    a:hover {
        text-decoration: none;
        background: $dark-gray;
        color: $white;
    } 

    small {
        color: $light-gray;
        text-transform: uppercase;
        font-family: $label-font-family;
        font-weight: normal;
        font-size: 60%;
        line-height: 1.6;
        display: block;
        margin-top: 5px;


    }
}

a:hover {
    text-decoration: underline;
}



h6 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    color: $dark-gray;
}

.checklist {
    list-style-type: none;
    
    li {
    	position: relative;
    }


    li:before {
        content: "";
        position: absolute;
        top: 12px;
        left: -19px;
        width: 3px;
        height: 8px;
        transform: rotate(-45deg);
        background: #000;
    }
    li:after {
        content: "";
        position: absolute;
        top: 9px;
        left: -13px;
        width: 3px;
        height: 9px;
        transform: rotate(45deg);
        background: #000;
    }
}

ul li.header {
	list-style-type: none;

	a {
	    text-transform: uppercase;
	    font-weight: normal;
	    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	    font-size: 0.6rem;
	    color: $dark-gray;
	}
}

section {
    padding: 2em 0;

    &.bar {
        background: $primary-color;
        color: #FFF;
        padding: 1em 0;

        a {
            color: #FFFAD5;
        }
    }

    &.hero {
        background: $secondary-color;
        padding: 4em 0 4em 0;
        h1 {
            text-align: center;
            margin-bottom: 0.5em;
        }

        h2 {
            font-weight: normal;
            text-align: center;
            margin-bottom: 0;
        }
    }

    &.subhero {
        background: #DB9E36;
        
        padding: 2em 0;

        a {
            
            color: $white;

            p.lead {
                color: $primary-color;
            }

            &:hover {
                text-decoration: none;

                p.lead {
                    text-decoration: underline;
                }
            }
        }
    }

    &.newsletter {
        background: #BD4932;
        color: #FFF;
    }

}

.helpme {
    position: relative;

    &:after {

        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        content: "\f15e";
        position: absolute;
        font-size: 70%;
        opacity: 0.1;
        top: -20%;

    }

    &:hover:after {
        opacity: 1;
    }
}

.alternate section:nth-child(even) {
    background-color: #F8F8F8;
}




.page_header {
    background: $primary-color;
    color: $white;
    .two_columns {
        -webkit-columns: 2;
        /* Chrome, Safari, Opera */
        -moz-columns: 2;
        /* Firefox */
        columns: 2;
    }
    li {
        color: #A0B8D6;
    }
    a {
        color: $white;
    }
}

.footer {
    background: $dark-gray;
    color: $medium-gray;
    a {
        color: $white;
    }

    .lowkey {
        font-size: 0.7rem;
        color: $medium-gray;
    }

}