@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';


@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/foundation-icons';


body {
    background: $white;
}

.separator {
   
    margin: 0 $global-margin;

    &.border {
        border-left: 1px solid rgba($white, 1);
    }
}

.main {
    
    li {
        border-bottom: 1px solid $dark-gray;
    }
    a {
        color: $white;
        font-size: 1rem;
    }
    a:hover {
        text-decoration: none;
        background: $dark-gray;
        color: $white;
    } 


}

.small {
    font-size: 60%;
}

a:hover, a.active {
    text-decoration: underline;
}

h4, h5, h6 {
    font-weight: normal;
}

h6 {
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    color: $dark-gray;
}

.checklist {
    list-style-type: none;
    
    li {
    	position: relative;
    }


    li:before {
        content: "";
        position: absolute;
        top: 12px;
        left: -19px;
        width: 3px;
        height: 8px;
        transform: rotate(-45deg);
        background: #000;
    }
    li:after {
        content: "";
        position: absolute;
        top: 9px;
        left: -13px;
        width: 3px;
        height: 9px;
        transform: rotate(45deg);
        background: #000;
    }
}

ul li.header {
	list-style-type: none;

	a {
	    text-transform: uppercase;
	    font-weight: normal;
	    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	    font-size: 0.6rem;
	    color: $dark-gray;
	}
}


#container {
    position: relative;
}

/* uncss:ignore */
canvas { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.2;
}

section {
    padding: 2em 0;

    &.bar {
        background: $primary-color;
        color: lighten($primary-color, 60%);
        padding: 1em 0;

        a {
            color: #FFF;
        }
    }

    &.hero {
        background: $secondary-color;
        padding: 4em 0 4em 0;
        h1 {
            text-align: center;
            margin-bottom: 0.5em;
        }

        h2 {
            font-weight: normal;
            text-align: center;
            margin-bottom: 0;
        }
    }

    &.subhero {
        background: #FFF;
        
        padding: 2em 0;

        
    }

    &.page_header {
        background: lighten($primary-color, 60%);
        color: $primary-color;
        
        @media screen and (min-width: 40em) {
            .two_columns {
                -webkit-columns: 2;
                /* Chrome, Safari, Opera */
                -moz-columns: 2;
                /* Firefox */
                columns: 2;
            }
        }
        
        li {
            color: #FFF;
            a {
            font-weight: normal;
        }
        }
        a {
            font-weight: bold;
        }
 
    }

    &.newsletter {
        background: #BD4932;
        color: #FFF;
    }

}

.helpme {
    position: relative;

    &:after {

        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        content: "\f15e";
        position: absolute;
        font-size: 70%;
        opacity: 0.1;
        top: -20%;

    }

    &:hover:after {
        opacity: 1;
    }
}

@media screen and (max-width: 39.9375em) {
    .media-object {
        @include clearfix;
        
        .media-object-section  {        
            display: inline;
        }
        
        .media-object-section:first-child  {        
            display: inline;
            float: left;
        }

        .media-object-section img {
            width: 70px;
            margin-top: $global-margin;

        }
    }
}


/* uncss:ignore */
.alternate section:nth-child(even) {
    background-color: #f8f8f8;
}

/* uncss:ignore */
.alternate section:nth-child(even) .media-object {
    @include clearfix;
}
/* uncss:ignore */
.alternate section:nth-child(even) .media-object .media-object-section:first-child {
    float: right;
    padding-left: $global-padding;
    padding-right: 0;
}

table.contact {
    font-size: 140%;
    border: none;
    td, tr {
        background: transparent !important;
    }

    th {
        text-align: right;
        text-weight: normal;
    }
}




.footer {
    background: $dark-gray;
    color: $medium-gray;
    a {
        color: $white;
    }

    .lowkey {
        font-size: 0.7rem;
        color: $medium-gray;
    }

}