<section class="footer">
    <div class="row">
        <div class="large-8 large-centered columns">
            <p>
                <i>Region Hallands Digitala Spelbok är skapad som en del av regionens digitala agenda. Lämna förlsag på förbättringar <a href="https://github.com/simpel/Digital-spelbok-for-region-halland/issues">här</a> eller <a href="mailto:joel.sanden@regionhalland.se">kontakta oss</a> om du vill veta mer om vårt arbete med att digitalisera Halland och dess kommuner.</i>
            </p>
        </div>
    </div>
</section>