<section class="footer">
    <div class="row">
        <div class="large-10 small-centered columns text-center">
            <p>
                <i>Digitaliserad.nu är skapad av Joel Sandén. <a href="mailto:me@joelsanden.se">Kontakta mig gärna</a> om ni behöver stöd i ert digitaliseringsarbete. Till vardags arbetar jag som digital strateg på Region Halland.</i>
            </p>
            
            <p>  
              <div class="addthis_sharing_toolbox"></div>
            </p>

            <p class="lowkey">
            	Byggt med ❤ och <a href="http://foundation.zurb.com/sites.html">Foundation for Sites</a>. Hostat på <a href="https://github.com/simpel/digitaliserad.nu">GitHub</a>.
            </p>
        </div>
    </div>
</section>