<section class="footer">
    <div class="row align-center">
        <div class="large-10 columns">
            <div class="row align-center medium-unstack">
                <div class="shrink columns text-center medium-text-left">
                    <p class="lowkey">Digitaliserad.nu drivs av:
                        <br>
                        <br>
                        <a href="http://www.regionhalland.se?ref=digitaliseringnu"><img src="assets/img/region_halland_logo.png" alt=""></a>
                    </p>
                </div>
                <div class="columns text-center medium-text-left">
                    <p>Digitaliserad.nu är en del av Region Hallands digitaliseringsarbete, <a href="/om.html">läs mer om sajten här</a>.</p>
                    
                    <p class="lowkey">
                        Byggt med ❤ och <a href="http://foundation.zurb.com/sites.html">Foundation for Sites</a>. Hostat på <a href="https://github.com/simpel/digitaliserad.nu">GitHub</a>.
                    </p>
                    <p>
                        <div class="addthis_sharing_toolbox"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
