<section id="iterate" data-magellan-target="iterate">
    <div class="row">
        <div class="large-8 small-centered columns">
<h6 class="uppercase">Riktlinje 6</h6>
<h2>Arbeta iterativt</h2>


<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/iterative.png">
                </div>
                <div class="media-object-section">

<p>Vi skall släppa nya funktionalitet till användaren så ofta som möjligt. Genom att arbeta iterativt med små förbättringar minimerar vi risken att missa våra mål. Nya funktioner skall nå användaren så snabbt som möjligt så att våra team kan värdera utfallet och anpassa efter verkligheten. </p>

               </div>
            </div>



<h3>Nyckelfrågor</h3>
<ul>
    <li>Hur lång tid tog det innan ni lanserade en MVP av tjänsten? om det inte hänt än, varför?</li>
    <li>Hur många gånger i månaden kan ni släppa ny funktionalitet?</li>
    <li>Hur samlar ni in buggar och nya önskemål på funktioner o.d.?</li>
    <li>Hur hanterar ni backloggen? Vilket verktyg använder ni?</li>
    <li>Hur ofta diskuteras backloggen med stakeholders?</li>
    
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Skapa en backlogg för tjänsten och prioritera den tillsammans med dina stakeholders efter varje sprint/release</li>
    <li>Släpp en <a href="https://en.wikipedia.org/wiki/Minimum_viable_product">MVP-version</a> av tjänsten till användaren så snabbt som möjligt och analysera reaktionen</li>
    <li>Genomför återkommande användartester</li>
    <li>Skapa en så liten organisation kring tjänsten som möjligt.</li>
    <li>Automatisera testning och releaseprocess i möjligaste mån</li>
    <li>Använd versionshantering</li>
    <li>Automatisera kodgranskning så mycket som möjligt</li>
</ul>
</ul>
        </div>
    </div>
</section>
