<section id="owner" data-magellan-target="owner">
    <div class="row">
        <div class="large-8 large-centered columns">
<h6 class="uppercase">Riktlinje 6</h6>
<h2>Tillsätt en produktägare och gör den ansvarig</h2>
<p>Varje tjänst vi producerar skall ha en tydlig ägare. Denna personen skall vara den självklara kontakten för alla stakeholders och leda utvecklingsteamen i deras arbete. Produktägaren äger backloggen och prioriterar den baserat på givet nuläge. </p>
<h3>Nyckelfrågor</h3>
<ul>
    <li>Vem är produktägare?</li>
    <li>Vilka organisatoriska förändringar har genomförts för att möjliggöra produktägarens arbete? Vilken auktoritet och vilken support har produktägaren?</li>
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Har en produktägare tillsatts?</li>
    <li>Har alla typer av styrgrupper, referensgrupper, ledningsgrupper o.d. avskaffats inom ramen för projektet?</li>
    <li>Är alla i projektet (utvecklingsteam, stakeholders m.fl.) medvetna om att produktägaren är den som prioriterar arbetet och bestämmer vad som skall göras</li>
    <li>Har produktägare erfarenhet av tjänsteutveckling? av digital design? av teknisk utveckling?</li>
    <li>Har produktägare erfarenhet av </li>
    <li>Har produktägaren tillräckligt med erfarenhet för att kunna göra konsekvensanalyser av omprioriteringar av backloggen?</li>
    <li>Har produktägaren varit med och tillsatt teamet?</li>
</ul>
</ul>
        </div>
    </div>
</section>
