
<section id="accessable" data-magellan-target="accessable">
    <div class="row">
        <div class="large-8 medium-10 small-centered columns">
<h6 class="uppercase">Riktlinje 5</h6>
<h2>Var öppen</h2>


<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/accessability.png">
                </div>
                <div class="media-object-section">
<p>
    Genom att samarbeta öppet och publicera våra data offentligt kan vi förbättra
    verksamheten tillsammans. Genom att förenkla allmänhetens tillgång och insyn i våra projekt så 
    ökar vi chansen att vi bygger rätt och satsar på rätt funktioner. När vi blir duktiga
    på att dela med oss av vår kunskap, vår kod och våra insikter så skapar vi möjligheter för 
    nya sammarbeten där privatpersoner, företag eller andra myndigheter kan återanvända det vi tagit fram.
</p>                </div>
            </div>





<h3>Nyckelfrågor</h3>
<ul>
    <li>Hur snabbt kan vi få ut en beta version av vår tjänst?</li>
    <li>Hur samlar vi in kundinsikter?</li>
    <li>Vilka komponenter(javascript plugins, HTML-mallar m.m.) kan vi släppa som öppen källkod?</li>
    <li>Vilka API:er skall tjänsten erbjuda?</li>
    <li>Vilka dataset skall tjänsten erbjuda?</li>
    <li>Varför kan vi inte publicera källkoden?</li>
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Erbjud användarna ett sätt att lämna feedback på tjänsten</li>
    <li>Erbjud kompletta dataset och API:er till invånarna</li>
    <li>Säkerställ att vi äger den källkod som produceras för tjänste, t.ex. av tredje part.</li>
    <li>Om möjligt; var publik med framtagningen av tjänsten, t.ex. genom en utvecklingsblogg.</li>
    <li>Säkerställ att den data som vi släpper publikt är fri att använda, t.ex. genom <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0)</a></li>
</ul>
</ul>
        </div>
    </div>
</section>
