<section id="technology" data-magellan-target="technology">
    <div class="row">
        <div class="large-8 medium-10 small-centered columns">
<h6 class="uppercase">Riktlinje 8</h6>
<h2>Använd moderna tekniklösningar</h2>



<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/technology.png">
                </div>
                <div class="media-object-section">
<p>De val vi gör gällande teknik måste i första hand främja våra utvecklingsteam så att de kan arbeta effektivt och så snabbt som möjligt leverera bästa tänkbara lösning för våra användare. Våra val av databaser, ramverk, servrar m.m. skall kunna hantera skalbarhet och motvärka inlåsningseffekter till en viss teknik eller leverantör. Vi bör alltid sträva efter att nyttja tekniker med standardiserade lösningar, gärna som bygger på öppen källkod. </p>


               </div>
            </div>

<h3>Nyckelfrågor</h3>
<ul>
    <li>Finns det risk för att vi valt en teknik som låser oss till en viss leverantör eller arkitektur?</li>
    <li>Hur ser vår teknikstack ut?</li>
    <li>Hur lång tid tar det för en ny medarbetare att förstå vår teknikstack?</li>
    <li>Har vi utvärderat vilka öppen källod alternativ som finns?</li>
    <li>Är utveckling av tjänsten bunden till ett visst operativsystem? Om ja, varför?</li>
   
</ul>
<ul class="checklist">
    <li>Utifrån vilka premisser har vi utvärderat vårt teknikval? Har t.ex. en redaktör testat admingränssnittet?</li>
    <li>Har vi skapat enkla prototyper för att testa av den teknik vi valt?</li>
    <li>Finns det tydliga instruktioner för hur du kommer igång, t.ex. hur du sätter upp en lokal utvecklingsmiljö?</li>

</ul>
</ul>
        </div>
    </div>
</section>
