<section id="data" data-magellan-target="data">
    <div class="row align-center">
        <div class="large-8  columns">
<h6 class="uppercase">Riktlinje 2</h6>
<h2>Basera beslut på data</h2>



<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/data.png">
                </div>
                <div class="media-object-section">

<p>
    Vi skall vara duktiga på att mäta hur väl våra tjänster fungerar för invånarna. Genom
    att redan från starten i ett projekt identifiera relevanta mätpunkter så kan
    vi samla in statistik som leder till välgrundade beslut. I existerande verksamhet
    skall insamlad data såsom besökarstatistik, CR, upptid m.m. ligga till grund
    för prioritering av buggar och kommande funktioner.
</p>
               </div>
            </div>


<h3>Nyckelfrågor</h3>
<ul>
    <li>Vilka är tjänstens primära mättal?</li>
    <li>Har alla inblandade i projektet möjlighet att ta del av den data som samlas in?</li>
    <li>Hur samlar vi in kundinsikter?</li>
    <li>Hur sammanställs historiska data för tjänsten? Hur väl levererar vi på mättalen?</li>
    <li>Vilka forum/arbetssätt/processer finns för att analysera och agera på insamlad
        data?</li>
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Har verktyg för att mäta besöksstatistik implementeras?</li>
    <li>Hur mäter vi våra mål? Har t.ex. mål definerats i Google Analytics</li>
    <li>Hur kan användarna lämna feedback på tjänsten?</li>
    <li>Hur kan vi mäta och analysera vilka delar av tjänsten som <em>inte</em> används?
        T.ex. via hög bounce-rate? låga besökstal, antal klick osv?</li>
    <li>Hur kan vi mäta flöden mellan kanaler? T.ex. mellan regionhalland.se och halland.se?</li>
</ul>
        </div>
    </div>
</section>
