{{> guideline_before}}
<h6 class="uppercase">Riktlinje 6</h6>
<h2>Tillsätt en objektägare och gör den ansvarig</h2>
<p>Varje tjänst vi producerar skall ha en tydlig ägare. Denna personen skall vara den självklara kontakten för alla stakeholders och leda utvecklingsteamen i deras arbete. Objektägaren äger backloggen och prioriterar backloggen baserat på givet nuläge. </p>
<h3>Nyckelfrågor</h3>
<ul class="keyquestions">
    <li>Vem är objektägaren?</li>
    <li>Vilka organisatoriska förändringar har genomförts för att möjliggöra objektägarens arbete? Vilken auktoritet och vilken support har objektägaren?</li>
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Har en objektägare tillsatts?</li>
    <li>Har alla typer av styrgrupper, referensgrupper, ledningsgrupper o.d. avskaffats inom ramen för projektet?</li>
    <li>Är alla i projektet (utvecklingsteam, stakeholders m.fl.) medvetna om att objektägaren är den som prioriterar arbetet och bestämmer vad som skall göras</li>
    <li>Har objektägare erfarenhet av tjänsteutveckling? av digital design? av teknisk utveckling?</li>
    <li>Har objektägare erfarenhet av </li>
    <li>Har objektägaren tillräckligt med erfarenhet för att kunna göra konsekvensanalyser av omprioriteringar av backloggen?</li>
    <li>Har objektägaren varit med och tillsatt teamet?</li>
</ul>
</ul>
{{> guideline_after}}
