<section id="journey" data-magellan-target="journey">
    <div class="row">
        <div class="large-8 small-centered columns">


<h6 class="uppercase">Riktlinje 3</h6>
<h2>Lös hela kundresan</h2>


<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/journey.png">
                </div>
                <div class="media-object-section">

<p>För att skapa en så bra produkt som möjligt för användaren så behöver vi förstå hela resan som användaren gör från uppkomsten
    av ett behov tills att det har tillfredställts. Vi ser idag hur användare sömnlöst rör sig mellan flera olika enheter
    och blandar on- och offline aktiviteter. Varje steg användaren tar, oavsett kanal, skall föra henne närmare en lösning!</p>

               </div>
            </div>

<h3>Nyckelfrågor</h3>
<ul>
    <li>Vilka är produktens primära mättal?</li>
    <li>När har användaren behov av att nyttja tjänsten? I vilka sammanhang? Var befinner hon sig?</li>
    <li>Vart finns de största kruxen för användaren i dagens sätt att lösa de problem vår tjänst skall hantera?</li>
    
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Skapa kundresan för era primära use case</li>
    <li>Identifiera de störta kruxen med hur användarna löser sitt problem idag</li>
    <li>Ta fram mättal för hur väl tjänsten löser användarens problem i varje skede av kundresan</li>
    <li>Designa tjänsten så att online och offline touchpoints är integrerade och genererar mervärde</li>
    
</ul>








        </div>
    </div>
</section>
