<section id="user" data-magellan-target="user">
    <div class="row">
        <div class="large-8 small-centered columns">
            <h6 class="uppercase">Riktlinje 1</h6>
            <h2>Lär känna användaren</h2>
            <div class="media-object">                
            <div class="media-object-section">
                    <img src="assets/img/user.png">
                </div>
                <div class="media-object-section">
                    <p>Varje digitalt projekt måste baseras på behov och insikter från riktiga användare. Vilket problem vill användaren få löst och hur ska vår lösning passa in i hennes vardag? Oavsett målgrupp för projektet så måste riktiga användare vara med från starten. Varje teknik- och designval som görs bör baseras på hennes behov. Alltefter projektet fortlider så bör insikter från användarna samlas in.</p>
                </div>
            </div>
            <h3>Nyckelfrågor</h3>
            <ul>
                <li>Vem är den primära användaren?</li>
                <li>Varför vill användaren använda produkten?</li>
                <li>Vilka användarbehov skall produkten lösa?</li>
                <li>Var/när/hur kommer produkten användas?</li>
                <li>Hur har vi validerat att behovet verkligen finns?</li>
            </ul>
            <h3>Checklista</h3>
            <ul class="checklist">
                <li>Har ni träffat era användare?</li>
                <li>Är det tydligt för alla parter i projektet vem användaren är?</li>
                <li>Har ni validerat att användarnas upplevda behov stämmer överens med verkligheten?</li>
                <li>Har tydliga mål och/eller effekter skapats för projektet? Hur ska ni mäta framgång?</li>
                <li>Har ni testat prototyper m.m. med faktiska användare?</li>
            </ul>
        </div>
    </div>
</section>