<section id="team" data-magellan-target="team">
    <div class="row align-center">
        <div class="large-8  columns">
<h6 class="uppercase">Riktlinje 7</h6>
<h2>Skapa en organisation fokuserad på leverans</h2>


<div class="media-object">                <div class="media-object-section">
                    <img src="assets/img/team.png">
                </div>
                <div class="media-object-section">

<p>Vilken kompetens behövs för att leverera på de mättal som tjänsten har? Två av de viktigaste nycklarna för att skapa en god digital upplevese ligger i att dels ha ett team som kan ta varje problem från ax till limpa och dels i att ge teamet och dess objektägare tillräckligt med frihet/mandat i organisationen att göra just detta.</p>

               </div>
            </div>



<h3>Nyckelfrågor</h3>
<ul>
    <li>Kan teamet hantera alla aspekter av utveckling (design, ux, utveckling, innehåll osv.) av tjänsten?</li>
    <li>Vilka stakeholders finns för tjänsten? Hur förs dialogen med dem?</li>
    <li>Förstår alla inblandade hur deras roll bidrar till ökad leveranstakt?</li>
</ul>
<h3>Checklista</h3>
<ul class="checklist">
    <li>Utvecklingsteamet har medlemmar med erfarenhet av mobila gränssnitt</li>
    <li>Utvecklingsteamet har medlemmar med erfarenhet av att utveckla säkra digitala tjänster</li>
    <li>Utvecklingsteamet har medlemmar med erfarenhet av IT-säkerhet</li>
</ul>
</ul>
        </div>
    </div>
</section>
