<section id="simple" data-magellan-target="simple">
    <div class="row">
        <div class="large-8 large-centered columns">
<h6 class="uppercase">Riktlinje 4</h6>
<h2>Gör det enkelt &amp; intuitivt</h2>
<p>Att använda våra tjänster skall vara enkelt, intuitivt och gärna roligt. Användarna skall, utan hjälp, klara av att lösa sitt problem första gången de använder tjänsten.</p>
<h3>Nyckelfrågor</h3>
<ul>
    <li>Vad är tjänstens primära användarmål?</li>
    <li>Vilka funktioner kan tas bort utan att det primära användarmålet påverkas?</li>
    <li>Är designen av tjänsten enhetlig med övriga tjänster vi erbjuder?</li>
    <li>Är språket så enkelt och tydligt som möjligt?</li>
    <li>Om användaren behöver hjälp med tjänsten, hur får den det?</li>
</ul>
<h3>Checklista</h3>

<ul class="checklist">
    <li>Använd en design som användaren känner igen</li>
    <li>Använda etablerade designmönster</li>
    <li>Var tydlig med att förklara vart i processen användaren befinner sig</li>
    <li>Följ givna standarder för tillgänglighet, säkerställ att alla kan använda tjänsten</li>
    <li>Automatisera så mycket som möjligt för användaren, t.ex. vid inmatning i formulär</li>
    <li>Fokusera alltid på att låta användaren komma vidare med tjänstens primära användarmål</li>
    <li>Använd ett enkelt och enhetligt språk</li>
</ul>
</ul>
        </div>
    </div>
</section>
