<ul class="menu vertical" data-accordion-menu>
    <li><a href="{{root}}/"><i class="brandmark">RH Digital</i></a></li>
    <li>
        <a href="#">Digital Agenda</a>
        <ul class="menu vertical nested" data-magellan>
            <li><a href="{{root}}/agenda.html#goals">Mål &amp; Syfte</a></li>
            <li><a href="{{root}}/agenda.html#mottos">Ledord</a></li>
            <li class="header"><a href="{{root}}/agenda.html#areas">Fokusområden</a></li>
            <li><a href="{{root}}/agenda.html#areas_infra">Digital infrastruktur</a></li>
            <li><a href="{{root}}/agenda.html#areas_life">Digitala livsresan</a></li>
            <li><a href="{{root}}/agenda.html#areas_innovation">Digital innovation</a></li>
            <li><a href="{{root}}/agenda.html#areas_sustainability">Digital infrastruktur</a></li>
            <li><a href="{{root}}/agenda.html#areas_competence">Digital kompetens</a></li>
        </ul>
    </li>
    <li>
        <a href="{{root}}/guidelines.html">Digital Spelbok</a>
        <ul class="menu vertical nested" data-magellan>
            <li><a href="{{root}}/guidelines.html#user">Lär känna användaren</a></li>
            <li><a href="{{root}}/guidelines.html#data">Basera beslut på data</a></li>
            <li><a href="{{root}}/guidelines.html#journey">Lös hela användarresan</a></li>
            <li><a href="{{root}}/guidelines.html#simple">Gör det enkelt &amp; intuitivt</a></li>
            <li><a href="{{root}}/guidelines.html#accessable">Var tillgänglig för alla</a></li>
            <li><a href="{{root}}/guidelines.html#iterate">Arbeta iterativt</a></li>
            <li><a href="{{root}}/guidelines.html#owner">Tillsätt en objektägare och gör den ansvarig</a></li>
            <li><a href="{{root}}/guidelines.html#team">Skapa kompletta team</a></li>
            <li><a href="{{root}}/guidelines.html#technology">Använd moderna tekniklösningar</a></li>
        </ul>
    </li>
    <li><a href="{{root}}/tools.html">Verktygslåda</a>
        <ul class="menu vertical nested"data-magellan>
            <li><a href="{{root}}/tools.html#sketching">Skisser &amp; Wireframes</a></li>
            <li><a href="{{root}}/tools.html#prototypes">Prototyping</a></li>
            <li><a href="{{root}}/tools.html#testing">Användartester</a></li>
            <li><a href="{{root}}/tools.html#feedback">Feedback</a></li>
            <li><a href="{{root}}/tools.html#servicedesign">servicedesign</a></li>
        </ul>
    </li>
</ul>