<ul class="menu vertical main" data-accordion-menu>
    <li>
        <a href="{{root}}/Guidelines & Riktlinjer.html">
            Spelboken
            <small>Riktlinjer för hur vi bör bedriva digitala projekt i vår verksamhet.</small>
        </a>

    </li>
    <li>
        <a href="{{root}}/Verktygslådan.html">
            Verktygslådan
            <small>Tips på arbetssätt, program o.d. som förenklar vårt arbete</small>
        </a>
    </li>
    <li>
        <a href="{{root}}/Hallands digitala agenda.html">
            Digitala agendan
            <small>Digitala agendan, dokumentet som ligger till grund för våra satsningsområden</small>
        </a>
    </li>
</ul>
