<section class="newsletter">

<div class="row align-center">
        <div class="large-10  columns text-center">
            

            <form action="//digitaliserad.us12.list-manage.com/subscribe/post" method="post"  name="newsletter_form" class="validate" data-abide="ajax" novalidate id="newsletter_form">

            <input type="hidden" name="u" value="030d6fdf1d606019deedb63a5">
            <input type="hidden" name="id" value="445d26d6a5">

                <p>Gå med i nyhetsbrevet, få smarta digitaliseringstips!</p>
                
                <div class="callout formposted" style="display: none;"></div>

<div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> Formuläret är inte korrekt ifyllt.</p>
  </div>

                <div class="row small-up-1 medium-up-3 large-up-3">
                    
                    <div class="column"><input type="text" name="FNAME" placeholder="Ditt förnamn" required></div>
                    <div class="column"><input type="text" name="LNAME" placeholder="Ditt efternamn" required></div>
                    <div class="column"><input type="email" name="EMAIL" placeholder="Ange din e-postadress."  required></div>
                    

                </div>

<input type="submit" id="newsletter_submit" name="subscribe" class="button" value="Prenumerera!">

            </form>

        </div>
    </div>
    <div class="row align-center">
        <p class="small italic">Psst! Du vet väl att vi har <a href="http://www.facebook.com/digitaliserad" id="facebooklink" name="facebooklink">en sida på Facebook</a> ✌️ med som uppdateras (nästan) dagligen.</p>
        </div>
    </div>
</section>