<section class="newsletter">

<div class="row align-center">
        <div class="large-10  columns text-center">


            <form name="SubscriberForm" action="http://www.anpdm.com/public/process-subscription-form.aspx?formId=41405A4A7549425C407240" method="post" data-abide novalidate id="newsletter">
                <input type="hidden" name="pf_FormType" value="OptInForm">
                <input type="hidden" name="pf_OptInMethod" value="SingleOptInMethod">
                <input type="hidden" name="pf_CounterDemogrFields" value="0">
                <input type="hidden" name="pf_CounterMailinglists" value="1">
                <input type="hidden" name="pf_AccountId" value="17257">
                <input type="hidden" name="pf_ListById" value="1">
                <input type="hidden" name="pf_Version" value="2">

                <input type="hidden" name="pf_MailinglistName1" value="1277444">
                <p>Gå med i nyhetsbrevet, få smarta digitaliseringstips!</p>
                
<div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Den angivna epostadressen är inte korrekt.</p>
  </div>

                <div class="row small-up-1 medium-up-3">
                    
                    <div class="column"><input type="text" name="pf_SubscriberName" placeholder="Ditt namn"></div>
                    <div class="column"><input type="email" name="pf_Email" placeholder="Ange din e-postadress."  required pattern="email"></div>
                    <div class="column"><input type="submit" name="Submit" class="button small expanded" value="Prenumerera!"></div>

                </div>


            </form>
        </div>
    </div>
</section>