
            <ul>
                <li class="tool"><a href="https://www.optimalworkshop.com/optimalsort" data-categories="tool, ia, structure">OptimalSort</a> </li>
                <li class="tool"><a href="https://www.optimalworkshop.com/treejack" data-categories="tool, ia, structure, menues">TreeJack</a> &dash;  Verktyg för att testa hur en användare navigerar i en menystruktur</li>
                <li class="tool"><a href="http://www.invisionapp.com" data-categories="tool, design, feedback, comments, prototypes" class="top_choice">inVision</a> &dash;  Verktyg för att dela och få kommentarer på skisser och prototyper</li>
                <li class="tool"><a href="https://balsamiq.com" data-categories="tool, wireframes, prototypes" class="top_choice">Balsamiq</a> &dash;  Program för att skapa klickbara prototyper. Väldigt snabbarbetat och bra.</li>
                <li class="tool"><a href="http://www.xmind.net" data-categories="tool, mindmaps, effectkartor">xMind</a> &dash;  Program för att skapa mindmaps, bra för effektkartor bl.a.</li>
            </ul> 
<section class="row small-up-1 medium-up-2 large-up-4" data-equalizer data-equalize-on="medium"
            id="eq">
                <div class="column">
                    <div class="callout" data-equalizer-watch>
                        <a href="https://www.optimalworkshop.com/optimalsort" target="_blank">
                            
                            <p class="lead">Optimal Sort<br><span class="small">&dash; by Treejack</span> </p>
                            
                            <p>Verktyg för att genomföra cardsorting övningar online</p>
                        </a>
                    </div>
                </div>
              
            </section>