<div id="websites" data-magellan-target="websites">
<h2>Effektiva webbplatser</h2>

<h4>Statistik</h4>
<ul>
    <li><a href="https://www.google.com/analytics/">Google Analytics</a> &dash; Så du vet vad dina användare gör helt enkelt</li>
</ul>

<h4>A/B tester</h4>
<ul>
    <li><a href="https://vwo.com/">Visual Website Optimizer</a> &dash; Verktyg för att testa flera variationer av samma webbplats, superbra för att t.ex. testa olika typer av text, bild och sidupplägg.</li>
</ul>

<h4>Kundfeedback &amp; dialog</h4>
<ul>
    <li><a href="https://usabilla.com">Usabilla</a> &dash; Låt besökarna av webbplatsen ge feedback på olika delar av varje sidmall.</li>
    <li><a href="https://www.intercom.io">Intercom</a> &dash; Chatta direkt med besökarna</li>    
</ul>


</div>