<div id="usertesting" data-magellan-target="usertesting">
<h2>Användartester</h2>

<h4>Testa informationsarkitektur</h4>
<ul>
    <li><a href="https://www.optimalworkshop.com/treejack">Treejack</a> &dash; Låt användarna testa olika typer av innehållsstrukturer</li>
    <li><a href="https://www.optimalworkshop.com/optimalsort">OptimalSort</a> &dash; Låt användarna skapa egna inforamtionsstrukturer genom att sortera "kort".</li>
</ul>

<h4>Testa en webbplats</h4>
<ul>
    <li><a href="http://www.tweaky.se/">Tweaky</a> &dash; Genomför användartester av givna scenarion på din existerande webbplats</li>
</ul>

<h4>Spela in användare &amp; skärm</h4>
<ul>
    <li><a href="https://silverbackapp.com/">Silverback</a> &dash; Spela in det som händer/hörs på datorskärmen och framför datorn.</li>
    <li><a href="https://lookback.io">Lookback.io</a> &dash; Spela in det som händer på mobilen och det kameran ser/hör.</li>
</ul>


</div>