<div id="communication" data-magellan-target="communication">
<h2>Kommunikation</h2>

<h4>Webbmöten</h4>
<ul>
    <li><a href="//:apper.in">Appear.in</a> &dash; Gratis webbkonferens för upp till 8 personer.</li>
    <li><a href="https://hangouts.google.com/">Google Hangouts</a> &dash; Gratis webbkonferens inkl. skärmdelning.</li>
    <li><a href="https://room.co/">room.co</a> &dash; Gratis webbkonferens direkt i webbläsaren, inga övriga program krävs.</li>
</ul>
</div>

<h4>Chatt</h4>
<ul>
    <li><a href="https://slack.com/">Slack</a> &dash; Meddelande app/chat för teams. Finns för alla enheter - mycket bättre än e-post.</li>
    <li><a href="https://www.hipchat.com/">HipChat</a> &dash; Konkurrent till Slack, precis lika bra.</li>
</ul>

<h4>Nyhetsbrev</h4>
<ul>
    <li><a href="http://mailchimp.com/">Mailchimp</a> &dash; Bästa, äldsta och oftast billigaste alternativet för att hantera nyhetsbrev. Finns på svenska.</li>
</ul>

