<div id="projectmanagement" data-magellan-target="projectmanagement">
<h2>Projektledning</h2>
<div class="clearfix">
<h4>Agil utveckling</h4>
<ul>
    <li><a href="https://www.atlassian.com/software/jira">JIRA</a> &dash; Branschstandarden för att hantera arbetet i agila team. Väldigt kraftfullt verktyg men har en ganska hög inlärningströskel</li>
</ul>
</div>

<h4>Todo-listor</h4>
<ul>
    <li><a href="https://asana.com/">Asana</a> &dash; Snyggt och bra app för att hantera/delegera todo-listor på flera team.</li>
    <li><a href="https://www.wunderlist.com/">Wunderlist</a> &dash; Bra och enkel todo-app med delningsmöjligheter, finns för alla skärmar.</li>
    <li><a href="https://trello.com/">Trello</a> &dash; Visualisera och hantera flera todo-listor samtidigt. Går även att bygga enkla arbetsflöden.</li>
</ul>

<h4>Tidsrapportering</h4>
<ul>
    <li><a href="https://www.getharvest.com/">Harvest</a> &dash; Tidsrapportering som inte suger. punkt.</li>
</ul>

</div>
