<div id="prototyping" data-magellan-target="prototyping">
<h2>Prototyper, skisser och snabba idéer</h2>

<h3>Wireframes</h3>
<p>Ibland vill man snabbt få ihop en visuell representation av sin idé, då är s.k. wireframes oslagbara</p>
<ul>
    <li><a href="https://balsamiq.com">Balsamiq Mockups</a> &dash; Bra verktyg för att snabbt få fram en klickbar demo av framförallt en webbplats. Enkelt, snabbjobbat och billigt.</li>
    <li><a href="https://www.omnigroup.com/omnigraffle">Omnigraffle</a> &dash; Avancerat program som är bra för den som jobbat på ett tag; en stor fördel med Omnigraffle är <a href="https://stenciltown.omnigroup.com">Stenciltown</a> där användarna delar färdiga mallar m.m. Finns även för iPad.</li>
</ul>

<h3>Klickbara prototyper</h3>
<ul>
    <li><a href="https://marvelapp.com">Marvel</a> eller  <a href="https://www.invisionapp.com">inVision</a> &dash; Två olika webbverktyg för att skapa snabba och delbara klickdemos. Båda integrerar bra mot t.ex. Sketch och Photoshop, vilket borgar för ett snabbt arbetsflöde. Går även att anpassa demon för olika skärmar, t.ex. Apple Watch.</li>
</ul>


<h3>Snabba idéer</h3>
<ul>
    <li><a href="https://quickmvp.com">QuickMVP</a> &dash; Allt för ofta bygger vi för mycket och för länge innan vi vet att marknaden är intresserade av vår idé. Tack vare QuickMVP kan vi snabbt sätta upp en landningssida och mäta hur mycket trafik den får, på så sätt vet vi om det finns ett intresse där ute.</li>
</ul>



</div>