<div id="documents" data-magellan-target="documents">
<h2>Skriva, räkna &amp; presentera</h2>
<div class="clearfix">
<h4>Skriva &amp; Räkna</h4>
<ul>
    <li><a href="https://docs.google.com">Google Docs</a> &dash; Dagarna med Office på datorn är över. Google Docs är gratis, klarar samtidig redigering och har bra funktioner för att samarbeta.</li>
</ul>
</div>

<h4>Presentera</h4>
<ul>
    <li><a href="https://prezi.com/">Prezi</a> &dash; Intressant alternativ till "vanliga" presentationer. Stora möjligheter att animera och jobba med flera mediaformat, t.ex. video.</li>
    <li><a href="https://docs.google.com/presentation">Google Presentation</a> &dash; Del av Google Docs, klarar samma saker som powerpoint.</li>
</ul>

</div>
