<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Digitaliserad.nu</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/ico">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />


{{#ifpage 'index'}}
 <meta property="og:url"                content="http://www.digitaliserad.nu" />
{{/ifpage}}

{{#unlesspage 'index'}}
  <meta property="og:url"                content="http://www.digitaliserad.nu/{{page}}.html" />
{{/unlesspage}}




<meta property="og:locale"             content="sv_SE" />
<meta property="og:title"              content="{{title}}" />
<meta property="og:description"        content="{{description}}" />
<meta property="fb:app_id"             content="1148855121815700" />
<meta property="og:image"              content="http://www.digitaliserad.nu{{image}}" />

</head>

<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1148855121815700',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <section class="bar">
        <div class="row">
            <div class="small-12 columns text-center">
                <a href="./">Digitaliserad.nu</a>
                <span class="separator border"></span>{{title}}
            </div>
        </div>
    </section>
    
    {{> body}}
    {{> newsletter}}
    {{> footer}}
    
    <script src="assets/js/app.js"></script>
    <script>
  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39390843-4', 'auto');
  ga('send', 'pageview');

</script>


<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-463644-H');
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57056d887bbc9401"></script>



</body>

</html>