<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Digitaliserad.nu</title>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/ico">
    <link rel="sitemap" href="http://www.digitaliserad.nu/sitemap.xml">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />


{{#ifpage 'index'}}
 <meta property="og:url"                content="http://www.digitaliserad.nu" />
{{/ifpage}}

{{#unlesspage 'index'}}
  <meta property="og:url"                content="http://www.digitaliserad.nu/{{page}}.html" />
{{/unlesspage}}




<meta property="og:locale"             content="sv_SE" />
<meta property="og:title"              content="{{title}}" />
<meta property="og:description"        content="{{description}}" />
<meta property="fb:app_id"             content="1148855121815700" />

{{#if image}}
  <meta property="og:image"              content="http://www.digitaliserad.nu{{image}}" />
{{/if}}



</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNRDT9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNRDT9');</script>
<!-- End Google Tag Manager -->









<div class="bar">
  <div class="row align-center">
    <div class="large-10 columns">
      <div class="float-left">
        <span class="show-for-medium">
          <a href="/">Digitaliserad.nu</a>
            <span class="separator border"></span>
        </span>
        
        {{title}}
        
      </div>

      <div class="float-right">
        <button type="button" data-toggle="headermenu"><i class="fi-list"></i></button>
      </div>
   </div>
  </div>
  
  <div class="row align-center">
    <div class="large-10 columns headermenu hide" id="headermenu" data-toggler=".hide">
      <div class="text-right">
        <ul class="no-bullet">
          <li><a href="/">Startsida</a></li>
          <li><a href="digitalisering.html">Vad betyder "Digitalisering"?</a></li>
          <li><a href="playbook.html">Spelbok för digitala satsningar</a></li>
          <li><a href="metoder.html">Metoder</a></li>
          <li><a href="toolbox.html">Verktyg</a></li>
          <li><a href="https://digitaliserad.signup.team/">Digitaliserad.nu på Slack</a></li>
          <li><a href="om.html">Om</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
          
    {{> body}}
    {{> newsletter}}
    {{> footer}}

    
    





</body>

</html>