<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Digitaliserad.nu</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/ico">
</head>

<body>
    <section class="bar show-for-medium">
        <div class="row">
            <div class="small-12 columns text-center">
                <a href="./">Digitaliserad.nu</a>
                <span class="separator border"></span>{{title}}
            </div>
        </div>
    </section>
    
    {{> body}}
    {{> newsletter}}
    {{> footer}}
    
    <script src="assets/js/app.js"></script>
</body>

</html>