<!doctype html>
<html class="no-js" lang="sv">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Digitaliserad.nu</title>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/ico">
    <link rel="sitemap" href="http://www.digitaliserad.nu/sitemap.xml">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />


{{#ifpage 'index'}}
 <meta property="og:url"                content="http://www.digitaliserad.nu" />
{{/ifpage}}

{{#unlesspage 'index'}}
  <meta property="og:url"                content="http://www.digitaliserad.nu/{{page}}.html" />
{{/unlesspage}}




<meta property="og:locale"             content="sv_SE" />
<meta property="og:title"              content="{{title}}" />
<meta property="og:description"        content="{{description}}" />
<meta property="fb:app_id"             content="1148855121815700" />

{{#if image}}
  <meta property="og:image"              content="http://www.digitaliserad.nu{{image}}" />
{{/if}}




</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNRDT9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNRDT9');</script>
<!-- End Google Tag Manager -->



<div class="top-bar-container">
  <div class="row align-center">
      <div class="large-10 columns">

      <div class="top-bar">
        <div class="top-bar-left" style="width: auto;">
          <ul class="menu">
            <li><a href="/" class="logo">Digitaliserad.nu</a></li>

          </ul>
        </div>
        <div class="top-bar-right" style="width: auto;">
          <ul class="menu hover show-for-medium">
            <li><a href="/playbook.html" {{#ifequal active 'playbook'}}class="active"{{/ifequal}}>Spelboken</a></li>
            <li><a href="/metoder.html" {{#ifequal active 'metoder'}}class="active"{{/ifequal}}>Metoder</a></li>
            <li><a href="/toolbox.html" {{#ifequal active 'toolbox'}}class="active"{{/ifequal}}>Verktyg</a></li>
            <li><a href="/om.html" {{#ifequal active 'om'}}class="active"{{/ifequal}}>Kontakta oss</a></li>
          </ul>


          <button type="button" class="button fi-list hide-for-medium nomargin" data-toggle="mobilemenu"></button>

        </div>
      </div>

      <ul class="menu vertical hover hide-for-medium hide" id="mobilemenu" data-toggler="hide">
        <li><a href="/playbook.html" {{#ifequal active 'playbook'}}class="active"{{/ifequal}}>Spelboken</a></li>
        <li><a href="/metoder.html" {{#ifequal active 'metoder'}}class="active"{{/ifequal}}>Metoder</a></li>
        <li><a href="/toolbox.html" {{#ifequal active 'toolbox'}}class="active"{{/ifequal}}>Verktyg</a></li>
        <li><a href="/om.html" {{#ifequal active 'om'}}class="active"{{/ifequal}}>Kontakta oss</a></li>
      </ul>


    </div>
  </div>
</div>
{{#unlesspage 'index'}}


<section class="bc">
 <div class="row align-center">
                <div class="large-10  columns">
   <nav aria-label="Du är här:" role="navigation">
  <ul class="breadcrumbs">

    {{#each bc}}
      <li><a href="{{@key}}">{{this}}</a></li>
    {{/each}}
    <li>
      <span class="show-for-sr">Aktuell sida: </span> {{title}}
    </li>

  </ul>
</nav>
</div>
</div>
</section>

{{/unlesspage}}

    {{> body}}
    {{> footer}}




<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Digitaliserad.nu",
  "url": "http://www.digitaliserad.nu"
}
</script>



<script src="assets/js/vendors.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57056d887bbc9401"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=se&theme=flying&tracking=1&thirdparty=1&always=1&hideDetailsBtn=1&showPolicyLink=1&remember=365&privacyPage=http%3A%2F%2Fdigitaliserad.nu%2Fintegritetsmeddelande.html"></script>

<script src="assets/js/app.js"></script>


{{#if localscript}}
  <script src="{{localscript}}"></script>
{{/if}}


</body>
</html>
